* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #315FE9;
    --indigo: #6610f2;
    --purple: #7B69EF;
    --pink: #ff2d55;
    --red: #DF4658;
    --orange: #ff9500;
    --yellow: #F9D776;
    --green: #42BA96;
    --teal: #5ac8fa;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #869AB8;
    --gray-dark: #384C74;
    --primary: #315FE9;
    --secondary: #869AB8;
    --success: #42BA96;
    --info: #7B69EF;
    --warning: #F9D776;
    --danger: #DF4658;
    --light: #F9FBFD;
    --dark: #111C32;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1540px;
    --font-family-sans-serif: "CircularStd", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

header {
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;

    .head_navbar {
        display: flex;
        align-items: center;

        .head_navbar_left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 90px;
            position: sticky;
            top: 0;
            padding: 10px 20px;
            background-color: var(--light);

        }

        .head_navbar_icons {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0px 10px;
            cursor: pointer;

            i {
                font-size: 25px;
                color: rgb(87, 87, 87);
            }

            i:hover {
                color: #315FE9;
            }
        }

        .head_navbar_logo {
            background-color: rgb(49, 95, 233);
            width: 300px;
            height: 100px;

            span {
                display: flex;
                gap: 5px;
                align-items: center;
                padding: 30px 20px;
                font-size: 25px;
                color: #F9FBFD;
                font-weight: 700;
                font-family: var(--font-family-sans-serif);

                i {
                    width: 50px;
                    height: 50px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    font-size: 30px;
                    background-color: rgba(27, 71, 222, 0.95);
                    border-radius: 50%;
                    color: #F9FBFD;
                }
            }
        }

        .head_navbar_inputs_btn {
            display: flex;
            gap: 30px;

            button {
                width: 150px;
                height: 40px;
                border: 1px solid blue;
                border-radius: 8px;
                font-size: 17px;
                font-family: var(--font-family-sans-serif);
                color: var(--primary);
                font-weight: 600;
                cursor: pointer;
            }

            button:hover {
                background-color: #7d9cfb99;
                transition: all 0.3s linear;
            }
        }

        .head_navbar_inputs {
            display: flex;
            align-items: center;
            // border: 2px solid  #315FE9;
            border-radius: 10px;
            background-color: #e7e7e7;
            width: 250px;
            height: 40px;

            input {
                background-color: #eaeaea;
                border: none;
                padding: 0 15px;
                color: grey;
                font-size: 14px;
                height: 30px;

            }

            i {
                font-size: 30px;
                color: rgb(105, 105, 105);
                padding-left: 10px;
            }
        }
    }
}

main {
    padding-top: 20px;
    display: flex;
    // width: 100%;
    // height: 100%;

    .aside-1 {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        position: sticky;
        top: 0;

    }

    aside {
        width: 250px;
        height: 100%;
        padding-left: 10px;
        overflow-x: hidden;
        overflow-y: scroll;

        .aside_menu1:hover {
            background-color: rgb(216, 216, 216);
            transition: all 0.3s linear;
        }

        .aside_menu1 {
            width: 110px;
            height: 90px;
            cursor: pointer;
            border-radius: 10px;

            i {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 15px;
                font-size: 25px;
                color: #025a8d;
                padding-bottom: 5px;

            }

            p {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                font-family: var(--font-family-sans-serif);
                color: var(--primary);
            }
        }

        span {
            color: var(--primary);
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 15px;
            font-family: var(--font-family-sans-serif);

            i {
                font-size: 20px;
            }
        }
    }

    .revolutsiya_img_flex {
        display: flex;
        gap: 20px;
        padding-bottom: 20px;
    }

    .revolutsiya_img:hover {
        filter: brightness(50%);
    }

    .revolutsiya_img {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 10px 20px;
        width: 400px;
        height: 230px;
        background-size: cover;
        background-image: url(/images/photo_3_2024-10-31_15-27-40.jpg);

        h5 {
            width: 410px;
            font-size: 18px;
            color: var(--light);
            font-family: var(--font-family-sans-serif);
        }

        .revolutsiya_img_bottom {
            display: flex;
            justify-content: space-between;
            color: var(--light);

            i {
                color: var(--light);
                font-size: 20px;
            }

            span {
                font-family: var(--font-family-sans-serif);
                font-size: 18px;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 5px;
            }

            button {
                width: 150px;
                height: 30px;
                background-color: #42BA96;
                border: none;
                border-radius: 20px 0px 20px 0px;
                color: #fff;
                font-weight: bold;
                font-family: var(--font-family-sans-serif);
            }

            .second_btn {
                width: 150px;
                height: 30px;
                color: var(--gray-dark);
                background-color: var(--warning);
            }

            .three_btn {
                width: 150px;
                height: 30px;
                color: var(--gray-dark);
                background-color: var(--light);
            }
        }
    }

    .busines_imgs_flex {
        display: flex;
        gap: 20px;
        padding-bottom: 20px;
    }

    .busines_imgs:hover {
        filter: brightness(50%);
    }

    .busines_imgs {
        width: 800px;
        height: 200px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(/images/photo_7_2024-10-31_15-27-40.jpg);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 10px 20px;

        h5 {
            font-size: 18px;
            color: var(--light);
            font-family: var(--font-family-sans-serif);
        }

        .busines_imgs_bottom {
            display: flex;
            justify-content: space-between;
            color: var(--light);

            span {
                font-family: var(--font-family-sans-serif);
                font-size: 18px;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        button {
            width: 100px;
            height: 30px;
            border-radius: 20px 0px 20px 0px;
            border: none;
            background-color: var(--danger);
            color: var(--light);
            font-family: var(--font-family-sans-serif);
            font-size: 15px;
            font-weight: 500;
        }
    }

    .busines_imgs_right:hover {
        filter: brightness(50%);
    }

    .busines_imgs_right {
        width: 420px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url(/images/photo_7_2024-10-31_15-27-40.jpg);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 10px 20px;

        h5 {
            font-size: 18px;
            color: var(--light);
            font-family: var(--font-family-sans-serif);
            width: 380px;
        }

        .busines_imgs_right_bottom {
            display: flex;
            justify-content: space-between;
            color: var(--light);

            span {
                font-family: var(--font-family-sans-serif);
                font-size: 18px;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 5px;
            }

            button {
                width: 100px;
                height: 30px;
                border-radius: 20px 0px 20px 0px;
                border: none;
                background-color: var(--purple);
                color: var(--light);
                font-family: var(--font-family-sans-serif);
                font-size: 15px;
                font-weight: 500;
            }
        }
    }

    .development_ims_flex {
        display: flex;
        gap: 20px;
        padding-bottom: 20px;
        .development_ims:hover{
            filter: brightness(50%);
        }
        .development_ims {
            width: 650px;
            height: 200px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: url(/images/photo_15_2024-10-31_15-27-40.jpg);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 10px 20px;
            h5{
                font-size: 18px;
                color: rgb(255, 255, 255);
                font-family: var(--font-family-sans-serif);
            }
            .development_imgs_bottom{
                display: flex;
                justify-content: space-between;
                color: var(--light);
                span {
                    font-family: var(--font-family-sans-serif);
                    font-size: 18px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: var(--light);
                }
                button {
                    width: 180px;
                    height: 30px;
                    border-radius: 20px 0px 20px 0px;
                    border: none;
                    background-color: rgb(81, 0, 255);
                    color: var(--light);
                    font-family: var(--font-family-sans-serif);
                    font-size: 15px;
                    font-weight: 500;
                }
  
            }


        }
        .sell_imgs:hover{
            filter: brightness(50%);
        }
        .sell_imgs{
            width: 570px;
            height: 200px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: url(/images/photo_8_2024-10-31_15-27-40.jpg);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 10px 20px;
            h5{
                font-size: 18px;
                color: rgb(255, 255, 255);
                font-family: var(--font-family-sans-serif);
            }
            .sell_imgs_bottom{
                display: flex;
                justify-content: space-between;
                color: var(--light);
                span {
                    font-family: var(--font-family-sans-serif);
                    font-size: 18px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: var(--light);
                }
                button {
                    width: 110px;
                    height: 30px;
                    border-radius: 20px 0px 20px 0px;
                    border: none;
                    background-color: rgb(0, 13, 255);
                    color: var(--light);
                    font-family: var(--font-family-sans-serif);
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }
    }
}